<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!-- Start: Core AppConfig =====================-->
    <add key="useTestDB" value="true" />
    <add key="logSql" value="true" />

    <!-- Time conversions for statistics =================-->
    <add key="hoursPerDay" value="8" />
    <add key="daysPerWeek" value="5" />
    <add key="weeksPermonth" value="4" />
    
    <!--Datatables =================-->
    <add key="recordsToShow" value="10" />
    
    <!--DateTime format =================-->
    <add key="wholeDateFormat" value="dd/MM/yyyy H:mm:ss" />
    <add key="onlyDateFormat" value="dd/MM/yyyy" />
    <add key="onlyTimeFormat" value="H:mm:ss" />
    <add key="dateMinValue" value="01/01/1753 0:00:00" />

    <!-- Cache-->
    <add key="globalAbsoluteCache" value="60" />
    <add key="globalSlidingCache" value="60" />
    <add key="resourcesCache" value="60" />
    <!-- Folders and filename-->
    <add key="logFolderName" value="6.- Logs" />
    <add key="resourcesFolderName" value="1.- Resources" />
    <add key="globalResourceFileName" value="GlobalResources" />
    <!--System Messages =================-->
    <add key="ThereIsNoResourceKey" value="undefinedKey" />
    
    <!-- End: Core AppConfig =====================-->
  </appSettings>
  <connectionStrings>
    <add name="NoEstimatesDevelopmentEntities" connectionString="metadata=&quot;res://*/0.- Edmx.NoEstimatesDevelopment.csdl|res://*/0.- Edmx.NoEstimatesDevelopment.ssdl|res://*/0.- Edmx.NoEstimatesDevelopment.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=camellia.arvixe.com;initial catalog=NoEstimatesDevelopment;persist security info=True;user id=example;password=example;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Database1Entities" connectionString="metadata=&quot;res://*/0.- Core.4.- TestDb.Model1.csdl|res://*/0.- Core.4.- TestDb.Model1.ssdl|res://*/0.- Core.4.- TestDb.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\David\Documents\Visual Studio 2015\Projects\NoEntities\referenceArchitecture.Test\Database1.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>