<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://noestimates.davidalcocer.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>camellia.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>noestimates.davidalcocer.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>noestima_ocercom_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NoEstimatesDevelopmentEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NoEstimates.repository._0.__Edmx.NoEstimatesDevelopmentEntities, NoEstimates.repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NoEstimates.repository.Edmx.BaseContextAndPartialClasses.BaseContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NoEstimates.repository.Edmx.BaseContextAndPartialClasses.BaseContext, NoEstimates.repository" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Database1Entities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\David\Documents\Visual Studio 2015\Projects\NoEntities\referenceArchitecture.Test\Database1.mdf&quot;;Integrated Security=True;Connect Timeout=30;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Database1Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=&quot;res://*/0.- Core.4.- TestDb.Model1.csdl|res://*/0.- Core.4.- TestDb.Model1.ssdl|res://*/0.- Core.4.- TestDb.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\David\Documents\Visual Studio 2015\Projects\NoEntities\referenceArchitecture.Test\Database1.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Database1Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NoEstimates.repository.Edmx.BaseContextAndPartialClasses.BaseContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NoEstimatesDevelopmentEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="NoEstimates.repository.Edmx.BaseContextAndPartialClasses.BaseContext" />
  </ItemGroup>
</Project>