<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="useTestDB" value="false" />
    <add key="logSql" value="false" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Graphs statistic =================-->
    <add key="pointColor" value="#000000" />

    <add key="acumulative" value="#4c91cd" />
    <add key="acumulativeMarkings" value="#275d8b" />
    <add key="acumulativeAxisFromY" value="0" />
    <add key="acumulativeAxisToY" value="100" />
    <add key="acumulativeMarkingHorizontalLine" value="50" />

    <add key="velocity" value="#83c983" />
    <add key="velocityMarkings" value="#367c36" />

    <add key="completion" value="#ed9c2c" />
    <add key="estimation" value="#A9A9A9" />
    <add key="completionMarkings" value="#a4660e" />

    <!-- Time conversions for statistics =================-->
    <add key="secondsPerHour" value="3600" />
    <add key="hoursPerDay" value="8" />
    <add key="daysPerWeek" value="5" />
    <add key="weeksPermonth" value="4" />


    <!--DateTime format =================-->
    <add key="wholeDateFormat" value="dd/MM/yyyy H:mm:ss" />
    <add key="onlyDateFormat" value="dd/MM/yyyy" />
    <add key="onlyTimeFormat" value="H:mm:ss" />
    <add key="dateMinValue" value="01/01/1753 0:00:00" />

    <!--Cache (value in minutes) =================-->
    <add key="globalAbsoluteCache" value="60" />
    <add key="globalSlidingCache" value="60" />
    <add key="resourcesCache" value="60" />
    
    <!--Name of folders and files =================-->
    <add key="logFolderName" value="2.- Logs" />
    <add key="resourcesFolderName" value="1.- Resources" />
    <add key="globalResourceFileName" value="GlobalResources" />

    <!--System Messages =================-->
    <add key="ThereIsNoResourceKey" value="undefinedKey" />
    <!-- Error page =================-->
    <add key="controllerAndActionErrorRedirect" value="Tasks,ErrorRedirect" />
    <!--EF precompileViews =================-->
    <add key="usingPrecompileViews" value="false" />
    <add key="preCompileViewEFInAppData" value="0.- Core,3.- EfPreCompileViews,MyViews.xml" />

  </appSettings>

  
  <connectionStrings>
    <add name="NoEstimatesDevelopmentEntities" connectionString="metadata=&quot;res://*/0.- Edmx.NoEstimatesDevelopment.csdl|res://*/0.- Edmx.NoEstimatesDevelopment.ssdl|res://*/0.- Edmx.NoEstimatesDevelopment.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=camellia.arvixe.com;initial catalog=NoEstimatesDevelopment;persist security info=True;user id=example;password=example;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Database1Entities" connectionString="metadata=&quot;res://*/0.- Core.4.- TestDb.Model1.csdl|res://*/0.- Core.4.- TestDb.Model1.ssdl|res://*/0.- Core.4.- TestDb.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\David\Documents\Visual Studio 2015\Projects\NoEntities\referenceArchitecture.Test\Database1.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <!--Doughnut cache (value in seconds) =================-->
    <caching>
      <outputCache enableOutputCache="false" /><!--Remove this in Production !!!!-->
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="htmlGlobalCache900" duration="900" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off"/>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>